<div class="instrument-container">
  <div *ngIf="instrument" class="instrument-details">
    <h2 style="text-align: center;">Instrument Details</h2>
    <p><strong>id:</strong>{{instrument.id}}</p>
    <p><strong>Serial Number:</strong>{{instrument.serialNumber}}</p>
    <p><strong>Serial Number:</strong>{{instrument.serialNumber}}</p>
    <p><strong>Checksum:</strong>{{instrument.checksum}}</p>
    <p><strong>Device Family:</strong>{{instrument.famiy}}</p>
    <p>
      <textarea placeholder="Instrument details" disabled>
        {{instrument.details}}
      </textarea>
    </p>
  </div>
</div>

