
.instrument-container {
  padding: 10px;
  border: 1px solid #ccc;
  width: 80vw;
  height: 95vh;
  background-color: #bebebe

}
.instrument-details {

  color: black;
  margin-left: 3rem;
}
.instrument-header{
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 2px;
color: black;
}
p {
  display: flex;
  gap: 8px; 
  color: red;
  font-weight: bold;
}

p strong {
  display: inline-block;
  min-width: 150px;
  text-align: left;
  color: black;
}
h2 {
  color: #fff;
}
textarea {
  max-width: 400px;
  max-height: 180px;
  min-width: 400px;
  min-height: 180px;
  resize: both;
}
.instrument-select-option {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px
}
.select-option-mat {
padding-top: 30px;
}
.command-response-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.virtual-scroll {
  height: 150px; /* Adjust based on your needs */
  overflow: auto;
}
.virtual-scroll::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar Track */
.virtual-scroll::-webkit-scrollbar-track {
  background: #979191; /* Light grey background */
  border-radius: 3px;
  height: 1px;
}
textarea {
  background-color: #bebebe;
  border: 1px solid black;
}
.nodata-preview {
  display: flex;
  place-content: center;
  margin-top: 20%;
  font-weight: bold;

}