.menu{
  background-color: #bebebe;
  height: 100%;
  width: 14rem;
  border-right: 2px solid rgb(4, 4, 68);
  display: flex;
  align-items: center;
  flex-direction: column;

}
.btn-list {
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 50px;


}
.open-btn {
background-color: rgb(4, 4, 68);
color: #ffffff;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;

}


.narrow-select { /* or min-content, or auto */
  min-width: unset; /* optional: remove Angular Material default */
}
